<div>
  <form ng-submit="addStudent()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="student.name" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label>House</label>
      <select class="form-control" ng-model="student.house" id="house">
        <option>Gryffindor</option>
        <option>Hufflepuff</option>
        <option>Ravenclaw</option>
        <option>Slytherin</option>
      </select>
    </div>
    <div class="form-group">
      <label>Wand Core</label>
      <input type="text" class="form-control" id="wandCore" ng-model="student.wandDetails.core">
    </div>
    <div class="form-group">
      <label>Wand Wood</label>
      <input type="text" class="form-control" id="wandWood" ng-model="student.wandDetails.wood">
    </div>
    <div class="form-group">
      <label>Wand length</label>
      <input type="text" class="form-control" id="wandLength" ng-model="student.wandDetails.length">
    </div>
    <div class="form-group">
      <label>Patronus</label>
      <input type="text" class="form-control" id="patronus" ng-model="student.patronus">
    </div>
    <div class="form-group">
      <label>Image URL</label>
      <input type="text" class="form-control" id="imageUrl" ng-model="student.imageUrl">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" id="description" rows="3" ng-model="student.description"></textarea>
    </div>
    <div class="form-group">
      <label>Pet Type</label>
      <select class="form-control" ng-model="student.petType" id="petType">
        <option>Owl</option>
        <option>Cat</option>
        <option>Rat</option>
        <option>Toad</option>
      </select>
    </div>
    <div class="form-group">
      <label>Pet Name</label>
      <input type="text" ng-model="student.petName" class="form-control" id="petName">
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
  </form>
</div>
